
@model IEnumerable<A3.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List of Teachers</h2>
<h3>This page gives us a complete list of the teachers in School Database.</h3>

@foreach (var teacher in Model) { 
<div><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>

}