
@model IEnumerable<A3.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<div class="page-container">
    <h2>List of Teachers</h2>
    <h3>Complete list of teachers in School Database</h3>

    <nav>
        <a class="navlink" href="/Teacher/New">Add a New Teacher</a>
    </nav>

    @foreach (var teacher in Model)
    {
        <div class="content-container"><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>

    }

</div>