
@{
    ViewBag.Title = "New";
}

<div class="page-container">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To List</a>
    </nav>
    <h2>Create New Teacher</h2>
    <form name="NewTeacher" method="POST" action="/Teacher/Create">
        <div>
            <label for="TeacherFname">First Name:</label>
            <input type="text" id="TeacherFname" name="TeacherFname" />
        </div>
        <div>
            <label for="TeacherLname">Last Name:</label>
            <input type="text" id="TeacherLname" name="TeacherLname" />
        </div>
        <div>
            <label for="EmployeeNumber">EmployeeNumber:</label>
            <input type="text" id="EmployeeNumber" name="EmployeeNumber" />
        </div>
        <div>
            <input type="submit" value="Create Teacher" />
        </div>
    </form>
</div>
