@model A3.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<p>This page shows a particular teacher's information.</p>
<p>Teacher's name: @Model.TeacherFname @Model.TeacherLname</p>
<p>Employee number: @Model.EmployeeNumber</p>
<!--retreiving info on courses a teacher taught-->
<p>Courses info: 

