@model A3.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div class="page-container">
    <nav>
        <a class="navlink" href="/Teacher/List">Back to the List</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete this teacher</a>
    </nav>
    <h2>Teacher info</h2>
    <h3>This page shows a particular teacher's information.</h3>
    <p>Teacher's name: @Model.TeacherFname @Model.TeacherLname</p>
    <p>Employee number: @Model.EmployeeNumber</p>
 </div>
